@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

*{
  margin: 0px;
}
body {
  padding: 0px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  background: #fff;
  text-decoration: none;
  color: black;
}